/* ---------!!--FONTS--!!------- */
// &display=swap
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap);
/* ---------!!--FILE-STYLES--!!--------- */
@import '_nullstyle';
@import '_ibg';
// --------переменные--------
$black: #1a1818;
$black-25: #1a181840;
$gray: #b3b3b3;
$white: #fff;
// --------------------------
::-webkit-scrollbar{
    width: 17px;
    background-color: #524235;
}
::-webkit-scrollbar-thumb{
    background-color: #6B5747;
    border: 4px solid #524235;
    border-radius: 30px;
}
//?------------functions and mixins----------
@function rem($value) {
	$result: $value / 14 + 'rem';
	@return $result;
}
@mixin fz-rem($value) {
	#{font-size}: #{rem($value)};
}
//?-------------ALL STYLES------------------------
.shop-btn {
	&::before {
		content: 'shop';
		@include fz-rem(15);
		line-height: 134%;
		text-transform: lowercase;
		font-weight: 700;
	}
    &:hover{
        cursor: pointer;
        color: $black-25;
    }
}
//?------------------------------------------
/* ---------!!--BODY--!!--------- */
body {
	// font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-family: Roboto;
	color: $black;
    background-color: $white;
}
/* --------!!--WRAPPER--!!------- */
.wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-height: 100%;
	position: relative;
}
/* ---------!!--CONTAINER--!!--------- */
.container {
	// ширина контейнера + паддинги с двух сторон
	max-width: 1476px;
	margin: 0 auto;
	padding: 0 18px;
    & > *:not(:last-child){margin-bottom: 115px;}
    [class*='__image'] img {max-width: 100%;}
    [class*='__row'] {display: flex;}
    [class*='__column'] {flex: 0 0 auto;}
    [class*='__block'] {
        display: flex;
        justify-content: space-between;
    }
    [class*='__text'] {text-transform: lowercase;}
    [class*='__body'] {flex: 1 1 auto;}
    [class*='__title'] {
        white-space: pre-line;
        @include fz-rem(60);
        line-height: 100%;
        letter-spacing: 1.2px;
        font-weight: 700;
    }
}
/* ---------!!--HEADER--!!--------- */
@import '_header';
/* ---------!!--CONTENT--!!--------- */
.content {
	flex: 1 1 auto;
}
/* ---------!!--fullscreen--!!--------- */
.fullscreen {
    margin-bottom: 115px;
	// .fullscreen__img
	&__img {
	}
	// .fullscreen__title
	&__title {
		white-space: pre-line;
		@include fz-rem(57);
		line-height: 105%;
		font-weight: 700;
        margin-bottom: 18px;
        letter-spacing: 1.2px;
	}
	// .fullscreen__shop
	&__shop {
	}
	// .fullscreen__body
	&__body {
		display: flex;
		flex-direction: column;
		padding: 0 18px;
        height: 100vh;
        justify-content: center;
	}
}
/* ---------!!--blueprints--!!--------- */
.blueprints {
    // .blueprints__row
    &__row {
    }
    // .blueprints__column
    &__column {
        &:first-child{
            display: flex;
            flex-direction: column;
        }
        &:last-child{
            margin-left: auto;
        }
    }
    // .blueprints__title
    &__title {
    }
    // .blueprints__text
    &__text {
        @include fz-rem(14);
        line-height: 144%;
        
    }
    // .blueprints__image
    &__image {
    }
    // .blueprints__body
    &__body{
        flex: 1 1 auto;
        display: flex;
        align-items: center;
    }
}
/* ---------!!--sofa--!!--------- */
.sofa {
    // .sofa__row
    &__row {
    }
    // .sofa__column
    &__column {
        &:last-child{
            margin: auto 0 auto auto;
        }
    }
    // .sofa__image
    &__image {
        margin-bottom: 3px;
    }
    // .sofa__block
    &__block {
    }
    // .sofa__text
    &__text {
        @include fz-rem(14);
        line-height: 144%;
    }
    // .sofa__shop
    &__shop {
        &::before{font-weight: normal;}
    }
}
/* ---------!!--bench--!!--------- */
.bench {
    // .bench__row
    &__row {
    }
    // .bench__column
    &__column {
        &:first-child{margin-right: 89px;}
        &:last-child{
            display: flex;
            flex-direction: column;
        }
    }
    // .bench__image
    &__image {
    }
    // .bench__body
    &__body {
    }
    // .bench__title
    &__title {   
    }
    // .bench__shop
    &__shop {
    }
}
/* ---------!!--chairs--!!--------- */
.chairs {
    // .chairs__row
    &__row {
    }
    // .chairs__column
    &__column {
        &:first-child{
            text-align: right;
        }
        &:last-child{
            margin: auto 0 auto auto;
        }
    }
    // .chairs__image
    &__image {
        margin-bottom: 3px;
    }
    // .chairs__block
    &__block {
    }
    // .chairs__text
    &__text {
        @include fz-rem(15);
        line-height: 134%;
    }
    // .chairs__shop
    &__shop {
        &::before{font-weight: normal;}
    }
}
/* ---------!!--more-bench--!!--------- */
.more-bench {
    // .more-bench__row
    &__row {
    }
    // .more-bench__column
    &__column {
        &:first-child{margin-right: 89px;}
        &:last-child{
            display: flex;
            flex-direction: column;
        }
    }
    // .more-bench__image
    &__image {
    }
    // .more-bench__body
    &__body {
    }
    // .more-bench__title
    &__title {
    }
    // .more-bench__shop
    &__shop {
    }
}
/* ---------!!--category--!!--------- */
.category {
    // .category__list
    &__list {
        @include fz-rem(58);
        line-height: 103%;
        text-transform: lowercase;
        letter-spacing: 1.2px;
        margin-left: calc(28000vw / 1440);
    }
    // .category__item
    &__item {
        margin: 3px 0;
        &:hover{opacity: .8;}
    }
}
/* ---------!!--subscribe--!!--------- */
.subscribe {
    // .subscribe__text
    &__text, &__sub {
        white-space: pre-line;
        @include fz-rem(45);
        line-height: 104%;
        letter-spacing: 0.94px;
        margin-bottom: 25px;
    }
    // .subscribe__sub
    &__sub {
        text-transform: lowercase;
        text-align: right;
    }
}
.subscribe > div.subscribe__text{ text-transform: none;}
/* ---------!!--footer--!!--------- */
@import '_footer';
/*//* ---------!!--MEDIA--!!--------- */
@media(max-width: 1199px) {
    .container{
        max-width: 1028px;
        & > *:not(:last-child){margin-bottom: 90px;}
        [class*='__column'] {flex: 0 0 50%;}
        [class*='__title'] {
            @include fz-rem(45);
        }
        [class*='__text'] {@include fz-rem(18);}
    }
    .shop-btn{
        &::before {@include fz-rem(18);}
    }
    .fullscreen{margin-bottom: 90px;}
    .sofa__column:last-child, .chairs__column:last-child{
        padding-left: 100px;
        & > .sofa__image img, & > .chairs__image img{max-width: 100%;}
    }
    .bench__row > .bench__column:first-child, .more-bench__row > .more-bench__column:first-child{margin-right: 50px;}
    .more-bench__row{
        .more-bench__column:first-child{flex: 0 0 60%;}
        .more-bench__column:last-child{flex: 0 0 40%;}
    }
    .category__list{
        @include fz-rem(48);
    }
    .subscribe__text, .subscribe__sub{
        @include fz-rem(35);
    }
}

/* Portrait tablets and small desktops */
@media (max-width: 991px) {
    .container{
        max-width: 804px;
        & > *:not(:last-child){margin-bottom: 50px;}
        [class*='__title'] {
            @include fz-rem(35);
        }
    }
    .fullscreen{margin-bottom: 50px;}
    .sofa__column:last-child, .chairs__column:last-child{
        padding-left: 0px;
        & > .sofa__image img, & > .chairs__image img{max-width: 100%;}
    }
    .sofa__column:first-child, .chairs__column:first-child{
        margin-bottom: 20px;
        & > .sofa__image img, & > .chairs__image img{max-width: 70%;}
    }
    .bench__row > .bench__column:first-child, .more-bench__row > .more-bench__column:first-child{margin-right: 20px;}
    .blueprints__row, .bench__row {
        & > .blueprints__column:first-child, & > .bench__column:first-child{
            flex: 0 0 50%;
        }
        & > .blueprints__column:last-child, & > .bench__column:last-child{
            flex: 0 0 50%;
        }
    }
    .sofa__row, .chairs__row {
        flex-direction: column;
        & > .sofa__column, & > .chairs__column{flex: none;}
    }
    .chairs__column:last-child{
        margin: auto auto auto 0;
    }
    .more-bench__row{
        .more-bench__column:first-child{flex: 0 0 60%;order: 2;}
        .more-bench__column:last-child{flex: 0 0 40%;order: 1;}
    }
    .category__list{
        @include fz-rem(35);
    }
    .subscribe > .subscribe__text, .subscribe > .subscribe__sub{
        @include fz-rem(25);
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .container{
        max-width: none;
        padding: 0 5px;
        & > *:not(:last-child){margin-bottom: 30px;}
        [class*='__title'] {
            @include fz-rem(25);
            white-space: normal;
            text-align: right;
        }
        [class*='__row']:not(.blueprints__row) {flex-direction: column;}
        [class*='__column'] {flex: none;}
    }
    .fullscreen{margin-bottom: 30px;}
    .sofa__column:first-child, .chairs__column:first-child{
        margin-bottom: 10px;
    }
    .shop-btn{text-align: right;}
    .blueprints__title{white-space: pre-line;padding-right: 10px;}
    .bench__row > .bench__column:first-child, .more-bench__row > .more-bench__column:first-child{margin-right: 0px;}
    .more-bench__row{
        .more-bench__column:last-child{margin-bottom: 10px;}
    }
    .category__list{
        @include fz-rem(25);
    }
    .subscribe > .subscribe__text, .subscribe > .subscribe__sub{
        @include fz-rem(20);
        margin-bottom: 15px;
    }
}